<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stupid.dev.dao.mapper.IDoorInfoMapper">

    <!-- 更新心跳时间 -->
    <update id="updateDoorActiveTime">
        update door_info
        set active_time = now()
        where id = #{id}
    </update>

    <!-- 查询门禁机详情 -->
    <select id="selectDoorInfoById" resultType="com.stupid.dev.entity.door.po.DoorInfo">
        select id,name,dev_code as devCode,state,active_time as activeTime,create_user as createUser
        from door_info
        where id = #{id}
    </select>

    <!-- 新增门禁设备 -->
    <insert id="insertDoorInfo" useGeneratedKeys="true" keyProperty="id">
        insert into door_info
        (name, dev_code, create_user)
        values
        (#{name},#{devCode},#{createUser})
    </insert>

</mapper>